
<style >
  nav a {
    font-size: 1.5em;
    font-weight: bold;
    color:#6dcc6e;
  }
</style>
<!-- <nav class="nav cf"> -->
<div class="container">
    <div class="row">
      <div class="twelve column" style="text-align:center">
        <nav>
          <div class="three columns">
            <a href="/">home</a>
          </div>
          <div class="three columns">
            <a href="/posts">posts</a>
          </div>
          <div class="three columns">
            <a href="/projects">projects</a>
          </div>
          <div class="three columns">
            <a href="/resume">resume</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
<hr>
<!-- </nav> -->
