
<!-- <style >
  nav a {
    font-size: 1.5em;
    font-weight: bold;
    color:#6dcc6e;
  }
</style> -->
<!-- <nav class="nav cf"> -->

<div class="container">
    <div class="row">
      <div class="twelve column" style="text-align:center">
        <nav>
          <div class="three columns">
            <a href="/"><img src="/images/icons/house_one.png"></a>
          </div>
          <div class="three columns">
            <a href="/posts"><img src="/images/icons/paragraph_spacing.png"></a>
          </div>
          <div class="three columns">
            <a href="/projects"><img src="/images/icons/toolbox.png"></a>
          </div>
          <div class="three columns">
            <a href="/resume"><img src="/images/icons/text_large_cap.png"></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
<hr>
